<footer class="site-footer">

  <div class="wrapper">
<!--            <a href="{{ site.departamental_page }}">
                <img src="image/UoS.ico" alt="DCS"> {{ site.current_department }}
            </a>-->

            <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <table >
          <tr class="contact-list">
            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="mailto:iacer.calixto@uva.nl">
                  <img src="/img/ico/UvA.png" alt=""/>
                </a>
              </div>
            </td>
            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="mailto:calixto.iacer@gmail.com">
                  <img src="/img/ico/gmail.png" alt=""/>
                </a>
              </div>
            </td>
            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="https://scholar.google.ca/citations?user=W0prRUMAAAAJ&hl=en">
                  <img src="/img/ico/gs.png" alt=""/>
                </a>
              </div>
            </td>
            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="https://github.com/iacercalixto">
                  <img src="/img/ico/github.png" alt=""/>
                </a>
              </div>
            </td>
            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="https://www.linkedin.com/in/iacercalixto/">
                  <img src="/img/ico/linkedin22x22.png" alt=""/>
                </a>
              </div>
            </td>
            <!--<td>
              <div class="media">
                <a class="pull-left thumbnail" href="https://twitter.com/wilkeraziz">
                  <img src="/img/ico/twitter.png" alt=""/>
                </a>
              </div>
            </td>-->
          </tr>
        </table>
      </div>

      <div class="footer-col  footer-col-2">
      </div>

      <div class="footer-col  footer-col-3">
          <p class="text" align="right">Last updated {{ site.time | date: "%B %d, %Y" }}.</p>
      </div>
    </div>

  </div>

</footer>
