<div class="media">
  <div class="media-body">
    <p>
      <a class="pull-left thumbnail" {% if include.person.url %} href="{{ include.person.url }}" {% endif %}>
        <strong>{{ include.person.name }}</strong>
      </a>.
      {% if include.person.github %}
      <a href="https://github.com/{{ include.person.github }}" title="GitHub" class="no-mark-external" target="_blank" rel="noopener noreferrer">
          <span class="icon-github"></span>
          <span class="sr-only">GitHub</span>
      </a>.&nbsp;{% endif %}{{ include.person.about | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
  </div>
</div>
